<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JetSet Journey</title>
    <link rel="icon" type="image/svg+xml" href="/img/svg/logo-plane.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/default.css">
</head>

<body>
    <%- include('components/header.ejs') %>

        <main class="simple-layout">
            <h1>Messages</h1>
            <div>
                <form action="/view-messages" method="get" class="medium-width">
                    <label for="sort">Відсортувати за:</label>
                    <select name="sort" id="sort" class="full-width">
                        <option value="id">ID</option>
                        <option value="topic">Topic</option>
                        <option value="message">Message</option>
                        <option value="user_id">User ID</option>
                        <option value="email">Email</option>
                    </select>
                    <br><br>
                    <label for="order">Порядок:</label>
                    <select name="order" id="order" class="full-width">
                        <option value="ASC">Зростаючий</option>
                        <option value="DESC">Спадаючий</option>
                    </select>
                    <br><br>
                    <input class="input-btn full-width" type="submit" value="Сортувати">
                </form>
            </div>
            <div class="messages__wrap">
                <% messages.forEach(message=> { %>
                    <div class="message-card">
                        <p>ID: <%= message.id %>
                        </p>
                        <p>Topic: <%= message.topic %>
                        </p>
                        <p>Message: <%= message.message %>
                        </p>
                        <p>User ID: <%= message.user_id %>
                        </p>
                        <p>Email: <%= message.email %>
                        </p>
                        <form action="/delete-message/<%= message.id %>?_method=DELETE" method="post">
                            <button type="submit">Видалити</button>
                        </form>
                    </div>
                    <br><br>
                    <% }); %>
            </div>
            <form class="form-btn" action="/contact-us" method="get">
                <input type="submit" value="Назад">
            </form>
        </main>

        <%- include('components/footer.ejs') %>

            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
            <script src="/js/slick.min.js"></script>
            <script src="/js/script.js"></script>
</body>

</html>